[submodule ".registry"]
	path = .registry
	url = https://github.com/samuelbharti/samuelbharti.r-universe.dev
	branch = HEAD
[submodule "biobouncer"]
	path = biobouncer
	url = https://github.com/samuelbharti/biobouncer
	subdir = pkg-r
[submodule "peacock"]
	path = peacock
	url = https://github.com/samuelbharti/peacock
