[submodule ".registry"]
	path = .registry
	url = https://github.com/samuelbharti/samuelbharti.r-universe.dev
	branch = HEAD
[submodule "biobouncer"]
	path = biobouncer
	url = https://github.com/samuelbharti/biobouncer
	subdir = pkg-r
[submodule "bioclients"]
	path = bioclients
	url = https://github.com/samuelbharti/bioclients
	subdir = pkg-r
[submodule "biohttp"]
	path = biohttp
	url = https://github.com/samuelbharti/biohttp
[submodule "peacock"]
	path = peacock
	url = https://github.com/samuelbharti/peacock
[submodule "plotomics"]
	path = plotomics
	url = https://github.com/samuelbharti/plotomics
	subdir = pkg-r
